<header>
   
    <nav class="navbar navbar-lg navbar-light bg-light">
        <a class="navbar-brand" href="./index.htm">EJS</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sobre">About</a>
            </li>
        </ul>
    </nav>
    <p>pagina: <%= typeof pagina != 'undefined' ? pagina: 'Home' %></p>
</header>
